html {
  background-color: #8c3036;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#overlay {
  width: 100%;
  height: auto;
}
.overlayAnim {
  animation: overlayIn 1s forwards;
}
.reverseOverlayAnim {
  animation: overlayOut 1s forwards;
}
#aboutText {
  color: white;
  opacity: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 10%;
  padding-top: 2%;
  font-size: larger;
  height: 30%;
  line-height: 150%;
}
.aboutTextAnim {
  animation: aboutTextIn 1s forwards;
  transition-timing-function: ease-in;
}
.reverseAboutTextAnim {
  animation: aboutTextOut 1s forwards;
  transition-timing-function: ease-in;
}
#aboutHeader {
  font-size: xx-large;
}
#boldText {
  font-weight: 700;
}
#logo {
  padding: 15px;
  position: absolute;
  z-index: 2;
  opacity: 30%;
  width: 8%;
  animation: slideInFromLeft 1s forwards;
  transition-timing-function: ease-in;
}
#number {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: white;
  opacity: 10%;
  margin: 0;
  animation: slideInFromLeft 1s forwards;
  transition-timing-function: ease-in;
  position: fixed;
  left: 0px;
  bottom: -25px;
}
.Typewriter__cursor {
  color: orange;
  font-weight: bold;
}
#nextArrow {
  z-index: 5;
  position: fixed;
  margin: 0;
  bottom: -10px;
  padding: 10px;
  right: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: white;
  opacity: 10%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
#backArrow {
  z-index: 5;
  position: fixed;
  margin: 0;
  bottom: -10px;
  padding: 10px;
  right: 60;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: white;
  opacity: 10%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
@keyframes aboutTextIn {
  from {
    transform: translate(0%, 150%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes aboutTextOut {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(0%, 150%);
  }
}
@keyframes overlayIn {
  from {
    transform: translate(0%, -150%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes overlayOut {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(0%, -150%);
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translate(-150%, 0%);
  }
  50% {
    transform: translate(-150%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
